@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(100, 65, 226);
    background: url(https://png.pngtree.com/background/20220716/original/pngtree-cartoon-black-atmospheric-weather-forecast-illustration-background-picture-image_1640761.jpg);
    /* background: rgb(43, 6, 131); */
    height: 100vh;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.Note{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.wrap{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 50px;
    /* background: rgb(93, 67, 240); */
}
input{
    width:200px;
    padding: 8px;
}
.searchButton{
    padding:8px;
    color:black;
    font-weight: 700;
    margin: 0 5px;
}
.widget{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width:650px;
    height: 400px;
    cursor: pointer;
    background: rgb(93, 67, 240);
    box-shadow: 2px 2px 50px 2px rgb(190, 24, 24) , -2px -2px 50px 2px rgb(73, 71, 214);
}
.widget .weatherIcon{
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 100px;
    height: 40%;
    color: rgb(255, 255, 255);
    width: 100%;
}
.widget .weatherInfo{
    display: flex;
    align-items: center;
    height: 35%;
    width: 60%;
    color: black;
}
.widget .weatherInfo .temprature{
    width:35%;
    display: flex;
    justify-content: space-around;
    font-size: 60px;
    font-weight:700;
    margin: 0 40px;
}
.weatherCond{
    font-size: 35px;
    font-weight: 150;
}
.place{
    font-size: 25px;
}
.date{
    width:40%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    font-weight:700;
    text-align: center;
    color: black;
}

.extra-temp .temp-info-minmax{
    display:flex;
    justify-content: space-evenly;
    width:650px;
    color: black;
    height: 120%;

}
.two-sided-section{
    display:  flex;
    justify-content: center;
    align-items: center;
    padding:0 10px; 
    margin: 8px 0;
    font-size: 20px;
    font-weight: 700;
}
.extra-info-leftside{
    margin: 0 20px;
}
